%line24{
    line-height   : 24px;
    font-size     : 16px;
    letter-spacing: 0;
}

%line16{
line-height   : 16px;
font-size     : 12px;
letter-spacing: 0;
}

body {
    background-color: #0B172A;
    font-family     : 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height          : 100%;
    width           : 100%;
}

header {
    display        : flex;
    margin         : 16px 180px;
    width          : 80%;
    justify-content: space-between;

    .inputTxt {
        width : 140px;
        height: 16px;
        margin: auto 0;
    }

    .joinBtn {
        background    : url(img/user.svg) no-repeat 20.8px 6px;
        width         : 120px;
        height        : 40px;
        padding-left  : 38.3px;
        border        : 1px solid #D8E1E6;
        border-radius : 4px;
        color         : #FFFFFF;
        text-align    : center;       
         @extend %line24;
    }

    @media screen and (max-width: 900px) {
        margin   : 0;
        min-width: 320px;
    }
}

content {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding-top    : 5%;

    .form {
        display       : flex;
        flex-direction: column;
        max-width     : 440px;
        min-width     : 440px;
        margin-left   : 180px;

        &__h1 {
            margin-top    : 0;
            color         : #FFFFFF;
            line-height   : 48px;
            font-size     : 36px;
            letter-spacing: 0;
        }

        &__p {
            display       : flex;
            min-height    : 48px;
            margin-top    : 0;
            color         : #7A8F99;
            @extend %line24;

            &::before {
                content   : '';
                width     : 18px;
                height    : 14px;
                min-width : 18px;
                background: url(img/check.png) no-repeat;
                margin    : 6px 16px 0 6px;
            }
        }


        &__input {
            width         : 100%;
            height        : 44px;
            padding-top   : 20px;
            background    : #212D3E;
            border        : 1px solid #1a7a54;
            border-radius : 4px;
            color         : #FFFFFF;
            @extend %line24;

            &:focus {
                border-width: 1px;
                border-color: #06b66f;
                outline     : none;
            }

            &:-webkit-autofill {
                box-shadow: inset 0 1px 4px 0 #212D3E,
                    inset 0 0 0 50px #212D3E,
                    0 1px rgba(255, 255, 255, 0.06) !important;
                -webkit-text-fill-color: #FFFFFF !important;
            }
        }

        &__inline {
            display        : flex;
            justify-content: space-between;
            margin-bottom  : 16px;
        }

        &__currency {
            display    : inline-block;
            width      : 9px;
            height     : 30px;
            background : #212D3E;
            text-align : center;
            border     : 1px #212D3E solid;
            line-height: 30px;
            flex       : 1;

            &:nth-child(2) {
                border-radius: 4px 4px;
            }

            &:nth-child(4) {
                border-radius: 0 4px 4px 0;
            }

        }

        &__currencyTxt {
            width         : 128px;
            height        : 32px;
            padding-right : 16px;
            color         : #7A8F99;
            @extend %line16;
        }

        &__tip {
            display       : block;
            margin-left   : 24px;
            transform     : translateY(-3.25rem);
            color         : #7A8F99;
            @extend %line24;
        }

        &__tipFocus {
            display    : block;
            margin-left: 24px;
            transform  : translateY(-3.75rem);
            color: #7A8F99;
            @extend %line24;
        }

        &__errEmail {
            display       : none;
            width         : 100%;
            height        : 64px;
            margin-bottom : 16px;
            background    : #E15433;
            border        : 2px;
            border-radius : 4px;
            color         : #FFFFFF;
            @extend %line24;


            &__att {
                margin: 24px;
            }

            &__email {
                display    : inline-block;
                width      : 352px;
                height     : 48px;
                padding-top: 8px;
            }
        }

        &__errPass {
            display       : none;
            position      : relative;
            width         : 280px;
            height        : 40px;
            left          : 80px;
            bottom        : 45px;
            z-index       : 1;
            background    : #E15433;
            border        : 2px;
            border-radius : 4px;
            text-align    : center;
            color         : #FFFFFF;
            @extend %line24;


            &::after {
                content   : '';
                position  : relative;
                left      : -70px;
                bottom    : -45px;
                border    : 10px solid transparent;
                border-top: 10px solid #E15433;
            }

            @media screen and (max-width: 530px) {
                left: 20px;
            }

            margin-bottom: -30px;
        }



        &__radioBtn {
            display: none;

            &:checked+label {
                border-color: #06b66f;
            }
        }

        &__agreeImg {
            display        : inline-block;
            width          : 20px;
            height         : 32px;
            padding-right  : 12px;
            background     : #212D3E;
            border         : 1px #0B172A solid;
            border-radius  : 4px;
            background-size: 32px 32px;
        }

        &__agreeTxt {
            margin-left   : 16px;
            color         : #7A8F99;
            @extend %line16;
        }

        &__agreeCheck {
            display: none;

            &:checked+label {
                background     : url(img/check.png) no-repeat;
                background-size: 32px 32px;
            }
        }

        &__singBtn {
            width         : 100%;
            height        : 56px;
            background    : #20A86B;
            border        : 2px;
            border-radius : 4px;
            color         : #FFFFFF;
            text-align    : center;
            @extend %line24;
        }
        
        @media screen and (max-width: 680px) {
            margin   : 0;
            min-width: 320px;
        }
    }

    .image {
        display    : flex;
        align-items: flex-end;

        &__iphone {
            position: absolute;
            width   : 245px;
            height  : 482px;
            right   : 600px;
            z-index : 1;

            @media screen and (max-width: 1500px) {
                position: relative;
                right   : 0;
            }

            @media screen and (max-width: 900px) {
                display: none;
            }

        }

        &__mcbook {
            position: relative;
            width   : 831px;
            height  : 613px;

            @media screen and (max-width: 1500px) {
                display: none;
            }
        }
    }
}