header .joinBtn, content .form__p, content .form__input, content .form__tip, content .form__tipFocus, content .form__errEmail, content .form__errPass, content .form__singBtn {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0;
}

content .form__currencyTxt, content .form__agreeTxt {
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0;
}

body {
  background-color: #0B172A;
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 180px;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .inputTxt {
  width: 140px;
  height: 16px;
  margin: auto 0;
}

header .joinBtn {
  background: url(img/user.svg) no-repeat 20.8px 6px;
  width: 120px;
  height: 40px;
  padding-left: 38.3px;
  border: 1px solid #D8E1E6;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 900px) {
  header {
    margin: 0;
    min-width: 320px;
  }
}

content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5%;
}

content .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 440px;
  min-width: 440px;
  margin-left: 180px;
}

content .form__h1 {
  margin-top: 0;
  color: #FFFFFF;
  line-height: 48px;
  font-size: 36px;
  letter-spacing: 0;
}

content .form__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  margin-top: 0;
  color: #7A8F99;
}

content .form__p::before {
  content: '';
  width: 18px;
  height: 14px;
  min-width: 18px;
  background: url(img/check.png) no-repeat;
  margin: 6px 16px 0 6px;
}

content .form__input {
  width: 100%;
  height: 44px;
  padding-top: 20px;
  background: #212D3E;
  border: 1px solid #1a7a54;
  border-radius: 4px;
  color: #FFFFFF;
}

content .form__input:focus {
  border-width: 1px;
  border-color: #06b66f;
  outline: none;
}

content .form__input:-webkit-autofill {
  -webkit-box-shadow: inset 0 1px 4px 0 #212D3E, inset 0 0 0 50px #212D3E, 0 1px rgba(255, 255, 255, 0.06) !important;
          box-shadow: inset 0 1px 4px 0 #212D3E, inset 0 0 0 50px #212D3E, 0 1px rgba(255, 255, 255, 0.06) !important;
  -webkit-text-fill-color: #FFFFFF !important;
}

content .form__inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

content .form__currency {
  display: inline-block;
  width: 9px;
  height: 30px;
  background: #212D3E;
  text-align: center;
  border: 1px #212D3E solid;
  line-height: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

content .form__currency:nth-child(2) {
  border-radius: 4px 4px;
}

content .form__currency:nth-child(4) {
  border-radius: 0 4px 4px 0;
}

content .form__currencyTxt {
  width: 128px;
  height: 32px;
  padding-right: 16px;
  color: #7A8F99;
}

content .form__tip {
  display: block;
  margin-left: 24px;
  -webkit-transform: translateY(-3.25rem);
          transform: translateY(-3.25rem);
  color: #7A8F99;
}

content .form__tipFocus {
  display: block;
  margin-left: 24px;
  -webkit-transform: translateY(-3.75rem);
          transform: translateY(-3.75rem);
  color: #7A8F99;
}

content .form__errEmail {
  display: none;
  width: 100%;
  height: 64px;
  margin-bottom: 16px;
  background: #E15433;
  border: 2px;
  border-radius: 4px;
  color: #FFFFFF;
}

content .form__errEmail__att {
  margin: 24px;
}

content .form__errEmail__email {
  display: inline-block;
  width: 352px;
  height: 48px;
  padding-top: 8px;
}

content .form__errPass {
  display: none;
  position: relative;
  width: 280px;
  height: 40px;
  left: 80px;
  bottom: 45px;
  z-index: 1;
  background: #E15433;
  border: 2px;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: -30px;
}

content .form__errPass::after {
  content: '';
  position: relative;
  left: -70px;
  bottom: -45px;
  border: 10px solid transparent;
  border-top: 10px solid #E15433;
}

@media screen and (max-width: 530px) {
  content .form__errPass {
    left: 20px;
  }
}

content .form__radioBtn {
  display: none;
}

content .form__radioBtn:checked + label {
  border-color: #06b66f;
}

content .form__agreeImg {
  display: inline-block;
  width: 20px;
  height: 32px;
  padding-right: 12px;
  background: #212D3E;
  border: 1px #0B172A solid;
  border-radius: 4px;
  background-size: 32px 32px;
}

content .form__agreeTxt {
  margin-left: 16px;
  color: #7A8F99;
}

content .form__agreeCheck {
  display: none;
}

content .form__agreeCheck:checked + label {
  background: url(img/check.png) no-repeat;
  background-size: 32px 32px;
}

content .form__singBtn {
  width: 100%;
  height: 56px;
  background: #20A86B;
  border: 2px;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 680px) {
  content .form {
    margin: 0;
    min-width: 320px;
  }
}

content .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

content .image__iphone {
  position: absolute;
  width: 245px;
  height: 482px;
  right: 600px;
  z-index: 1;
}

@media screen and (max-width: 1500px) {
  content .image__iphone {
    position: relative;
    right: 0;
  }
}

@media screen and (max-width: 900px) {
  content .image__iphone {
    display: none;
  }
}

content .image__mcbook {
  position: relative;
  width: 831px;
  height: 613px;
}

@media screen and (max-width: 1500px) {
  content .image__mcbook {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */